# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# next files
.cache/
.next/
out
public/sw.js
public/workbox*.js

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.firebase/
# blog*/
