$mdc-theme-primary: #fff;
$mdc-theme-secondary: #ff5252;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-error: #b00020;

$mdc-theme-on-primary: #000;
$mdc-theme-on-secondary: #fff;
$mdc-theme-on-error: #fff;
$mdc-theme-on-surface: #000;
