@import "../styles/theme";
@import "../styles/fonts";
@import "~bootstrap/scss/bootstrap";
@import "~@material/typography/mdc-typography.import";

body {
  margin: auto;
  background: $mdc-theme-background;
  font-family: $mdc-typography-font-family;
}

body,
html {
  height: 100%;
  width: 100%;
}

section {
  padding: 16px 0 16px;
}
