body {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto,
      Helvetica,
      Arial,
      sans-serif;
    margin: 0;
    padding: 0;
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

#main-header {
  width: 100%;
  font-weight: 500;
  line-height: 23px;
  position: relative;
  transition: background-color .4s,color .4s,transform .4s,opacity .4s ease-in-out;
}

body, html {
  height: 100%;
  width: 100%;
}

.bg-img {
  background-image: linear-gradient( #1424b1a1,#14e79694);
  height: 100%;
  scale: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
} 

.middle {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}