body {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto,
      Helvetica,
      Arial,
      sans-serif;
    margin: 0;
    padding: 0;
}
  
#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

#main-header {
  width: 100%;
  background-color: #000000aa;
  font-weight: 500;
  line-height: 23px;
  position: relative;
  transition: background-color .4s,color .4s,transform .4s,opacity .4s ease-in-out;
}

.container {
  display: inline;
  position: static;
  width: 80%;
  margin: auto;
  max-width: 1080px;
  text-align: left;
}

.logo-container {
  position: relative;
  width: 100%;
  height: 100%;
}

span.logo-span {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

body, html {
  height: 100%;
  width: 100%;
}

.bg-img {
  background-image: linear-gradient( #1424b1a1,#14e79694);
  height: 100%;
  scale: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
} 

.middle {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}
