@import "../styles/global.scss";
@import "~@material/button/mdc-button";
@import "~@material/card/mdc-card";
@import "~@material/layout-grid/mdc-layout-grid";
@import "~@material/ripple/mdc-ripple";

.main {
  display: block;
  height: 100%;
  width: 100%;
}

.eic-section {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../../static/assets/eic_backgroud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.section-1 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../static/assets/about_us_section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}

@mixin titleBg {
  color: #000;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.title-bg {
  @include titleBg();
}

@media (max-width: 1200px) {
  .title-bg {
    @include titleBg();
    font-size: calc(1.575rem + 3.9vw);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.text-overline {
  letter-spacing: 0.16667em;
  text-decoration: none;
  text-transform: uppercase;
}

.color-white {
  color: white;
}
