@import "../../styles/theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
.header-logo {
  width: 48px;
  fill: currentColor;
}

.mdc-top-app-bar__title {
  font-weight: 400;
}

.mdc-top-app-bar__navigation-icon {
  vertical-align: middle;
}
