@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$mdc-theme-primary: #ffffff;
$mdc-theme-secondary: #ff5252;

$mdc-theme-background: #fff;
$mdc-theme-surface: #ffffff;
$mdc-theme-background: #ffffff;
$mdc-theme-error: #b00020;

$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-error: #ffffff;
$mdc-theme-on-surface: #000000;

$mdc-typography-font-family: unquote("Roboto, sans-serif");

$enable-responsive-font-sizes: true;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";

body {
  background: $mdc-theme-background;
}

body,
html {
  height: 100%;
  width: 100%;
}

.main {
  display: block;
  height: 100%;
  width: 100%;
}

.eic-section {
  align-items: center;
  background-attachment: fixed;
  background-image: url("./image/eic_backgroud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

section {
  padding: 16px 0px 16px;
}

.section-1 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("./image/about_us_section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0px;
}

.section-2 {
  background-color: #e0dcdc05;
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  width: 48px;
  fill: currentColor;
}

.font-roboto-mono {
  font-family: Roboto Mono, monospace;
}

.title-bg {
  color: #000000;
  text-align: center;
}

.my-footer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.footer-links {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 100%;
  opacity: 80%;
}

.footer-item {
  color: #000000;
  padding-left: 4px;
  padding-right: 4px;
}

.fab {
  padding: 8px;
  color: $mdc-theme-on-primary;
}

.fab:hover {
  text-decoration: none;
}

.card-with-text {
  padding: 0px;
  text-align: center;
}

.social-list {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list li {
  margin: 0 0.5rem;
}

.social-list a {
  color: #6f7476;
  transition: color 0.2s ease-in-out;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.icon--padding {
  padding: 4px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.text-overline {
  letter-spacing: 0.16667em;
  text-decoration: none;
  text-transform: uppercase;
}
